/*
This quiz borrows the styling I created for more portfolio site using Tachyons.io for responsive design.
Because of this, much of a linked CSS is made redundant.
 */

 /*
body {
	font-family: 'Lato', sans-serif;
}



#quiz {
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	float: left;
}
*/
input {
	margin-left: 2em;
}
/*
#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: solid;
	padding-left: 5px;
}


#button {
	background: #ef8532;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	margin-top: 15px;
}



#button:hover {
	background: black;
	color: white;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;


}

#picture {
	width: 375px;
	height: 245px;
}



#mc {
	display: inline;
}
*/
